InstallHalyard.sh
scripts/expose/*_expanded.*
scripts/manage/*_expanded.*
scripts/install/properties
scripts/install/properties.*
scripts/install/InstallHalyard.sh
scripts/install/spinnakerAuditLog/config.json
scripts/install/spinnakerAuditLog/index.js
